<%- include('./partials/header'); %>
<h1 class="text-center">My Gallery</h1>
<div class="container mx-auto">
  <% if(myImages.length!==0){%>
  <div class="row">
    <% myImages.forEach(img=>{%> <% const {_id,url,description,author}=img %>
    <div class="col-sm-12 col-md-4 my-4">
      <%- include('./partials/card',{ url, description,author,id:_id}); %>
    </div>
    <%}) %>
  </div>
  <%}else {%>
  <div class="d-flex flex-column">
    <h3 class="text-center">Please Add a Photo to Gallery</h3>

    <a class="text-decoration-none btn btn-success" href="/addPhoto"
      >Add Photo</a
    >
  </div>
  <%}%>
</div>

<%-include('./partials/footer'); %>
